---

---

<div
  class="prose prose-p:text-black
   prose-a:text-blue-600 prose-a:underline underline-offset-2 prose-a:transition prose-a:hover:text-blue-800
   prose-p:leading-6"
>
  <slot />
</div>
