---
import Layout from "./Layout.astro";

const frontmatter = Astro.props.frontmatter;
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <div class="not-prose font-mono text-[12.5px] text-muted -mt-2 mb-10">
    {
      new Date(frontmatter.date).toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    }
  </div>
  <slot />
</Layout>
